<div style="text-align: center">
    <h1>Bu h2 tag</h1>
    <h2>Bu h2 tag</h2>
</div>
<p style="color: red; text-align: center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem esse eum
    excepturi nesciunt, odio perspiciatis porro quam veniam vitae voluptatum. Accusamus ad autem culpa illo inventore
    labore molestiae? Consequatur facere illum ipsa, iusto natus vitae voluptatem! Doloribus, in, quos! Non odit porro
    repudiandae vero voluptatum. Debitis ducimus error, iure laudantium nemo reprehenderit soluta veniam! Animi
    assumenda, debitis distinctio ducimus expedita inventore nemo neque nihil, quo quod rem reprehenderit veritatis
    voluptatem! Aliquam autem commodi deleniti enim et expedita, facilis id illo impedit incidunt inventore iure
    laboriosam magnam nulla odio officiis praesentium quam quia repellat repellendus saepe sapiente sunt tenetur
    voluptates voluptatum?</p>
<div style="text-align: center">
    <img style="width: 500px" src="https://www.w3schools.com/html/img_chania.jpg">
    <br>
    <br>
    <a href="https://kun.uz">kunuz</a>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam distinctio ex excepturi minus, mollitia repellendus reprehenderit suscipit vero. Ad, animi asperiores assumenda consequuntur corporis delectus dolorem earum hic inventore iure magni maxime neque nisi, praesentium reprehenderit, sint sunt tempore totam! Ad aliquam animi asperiores blanditiis cupiditate debitis delectus deserunt dolorum eius et facere fugiat, impedit incidunt laboriosam laborum nemo nesciunt numquam obcaecati officiis quas quasi quibusdam quis quos reiciendis repudiandae, sint unde velit? Alias incidunt neque praesentium quidem saepe. Assumenda deleniti deserunt dolore doloribus ducimus esse, impedit inventore laborum laudantium nulla, pariatur quam ratione rem reprehenderit, sapiente temporibus veniam? Architecto beatae cum et eveniet fugit impedit inventore minus nemo officia, pariatur perferendis quasi repellat. Commodi, distinctio dolor ea fugiat in labore laudantium modi, necessitatibus placeat quae quasi quia quo, repellat. Adipisci consequatur debitis inventore libero modi molestias sapiente, veritatis voluptates voluptatibus! Libero odio quas recusandae reprehenderit saepe sit unde ut! Animi asperiores consectetur consequuntur cum deleniti dignissimos dolores ipsam laboriosam necessitatibus nisi pariatur quae quidem repellat soluta ullam vero, voluptatum? Aspernatur, beatae consequuntur doloremque enim expedita fuga illum in neque numquam omnis, pariatur perferendis qui quia recusandae soluta tempore unde voluptas voluptate. Asperiores deleniti, facere id magnam nobis reiciendis velit.
    </p>
</div>